.promo {
  height: 689px;
  background: url("../../images/bg/bg-promo.jpg") center center/cover no-repeat;
}
.promo__inner {
  max-width: 520px;
  padding: 0 5px;
}
.promo__title {
  font-family: "Montserrat-bold";
  font-size: 90px;
  color: rgb(19, 14, 39);
  font-weight: bold;
  line-height: 0.889;
  margin-bottom: 47px;
}
.promo__title--white {
  color: #fff;
}
.promo__text {
  font-size: 20px;
  font-family: "PT Serif";
  color: #fff;
  line-height: 1.4;
}

.header {
  padding: 37px 0;
  margin-bottom: 89px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  font-family: "Quite Chocolatey";
  font-size: 89px;
  color: #fff;
}
.header__logo a {
  height: auto;
}
.header__hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: #130e27;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__link {
  padding: 11px 15px;
  border-radius: 5px;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
}
.nav__link:hover {
  background-color: #130e27;
}