.container {
   width: 1011px;
   margin: 0 auto;
}
* {
   box-sizing: border-box;
}

html, body, h1, h2, h3, ul, li, p {
   margin: 0;
   padding: 0;
} 


ul {
   list-style-type: none;
}

a {
   color: inherit;
   text-decoration: none;
}


button {
   cursor: pointer;
   border: none;
   outline: none;
}



