@media screen and (max-width: 320px) {
   .container {
      width: 300px;
   }

   .promo {
      height: 370px;
      &__title {
         font-size: 20px;
      }
      &__text {
         font-size: 14px;
      }
   }
   .header {
      margin-bottom: 22px;
      &__logo {
         font-size: 40px;
      }
      &__hamburger {
         display: block;
         z-index: 1001;
      }
      &__nav {
         display: flex;
         position: fixed;
         top: 0;
         right: -100%;
         width: 80%;
         height: 100vh;
         transition: right .3s;
         z-index: 1000; 
         &__link {
            font-size: 10px;
         }
      }
      
   }
   
   
   .nav__list {

         position: fixed;
         top: 0;
         right: -100%;
         width: 80%;
         height: 100vh;
         background: #c62314;;
         transition: right 0.3s;
         z-index: 1000;
         flex-direction: column;
      }
      .nav__list.active {
         padding: 20px;
         right: 0;
         .nav__link {
            display: block;
            margin-bottom: 20px;
         }
      }

   .services {
      padding: 10px 0 20px 0;
      &__title {
         font-size: 30px;
         margin-bottom: 25px;
      }
      &__items {
         flex-direction: column;
      }
      &__item {
         width: 80%;
         height: 200px;
         margin-bottom: 60px;
      }

      .item-img {
         height: 200px;
         margin-bottom: 0;
      }
   }

   .story {
      height: auto;
      padding: 10px 5px;
      &__inner {
         flex-direction: column;
      }
      &__text {
         width: 100%;
         font-size: 13px;
         margin-bottom: 7px;
      }
      &__btn {
         width: 50%;
         font-size: 12px;
      }
   }

   .pricing {
      padding: 10px 0;
      &__title {
         font-size: 30px;
         margin-bottom: 20px;
      }
      &__inner {
         flex-direction: column;
      }
      &__item {
         width: 100%;
         margin-bottom: 10px;
         &-title {
            font-size: 15px;
            margin-bottom: 5px;
         }
         &__list {
            margin-bottom: 20px;
         }
         &-item {
            font-size: 15px;
         }
      }
   }

   .footer {
      &__inner {
         flex-direction: column;
      }
      &__copyright {
         font-size: 11px;
      }
      &__logo {
         order: -1;
         font-size: 90px;
         margin-bottom: 32px;
      }
   }

}