.pricing {
   padding: 32px 0;
   background-color: #efefef;

   &__title {
      font-size: 50px;
      font-family: "Montserrat-bold";
      color: #130e27;
      font-weight: bold;
      line-height: 1.6;
      text-align: center;
      margin-bottom: 60px;
   }

   &__inner {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      border-radius: 5px;
      background-color: #fff;
      padding: 35px 0 12px 0;
      text-align: center;
      width: 318px;
      &-title {
         font-size: 22px;
         font-family: "PT Serif";
         color: rgb(22, 22, 22);
         line-height: 1.273;
         margin-bottom: 41px;
      }
      &-price {
         font-size: 60px;
         font-family: "Montserrat-bold";
         color: #c62314;
         font-weight: bold;
         line-height: 1.333;
         text-transform: uppercase;
      }
      &-list {
         margin-bottom: 36px;
      }
      &-item {
         font-size: 20px;
         font-family: "PT Serif";
         color: rgb(22, 22, 22);
         line-height: 1.4;
      }
      &-btn {
         border-radius: 4px;
         background-color: #130e27;
         width: 205px;
         height: 49px;
         text-transform: uppercase;
         font-size: 22px;
         font-family: "Montserrat";
         color: #fff;
         line-height: 1.273;
         border: none;
         &--orange {
            background-color: #c62314;
         }
      }
}
}