@font-face {
    font-family: 'Quite Chocolatey';
    src: url('../../fonts/QuiteChocolatey.woff2') format('woff2'),
        url('../../fonts/QuiteChocolatey.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url('Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif';
    src: url('PTSerif-Regular.woff2') format('woff2'),
        url('PTSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Couture';
    src: url('Couture-Bold.woff2') format('woff2'),
        url('Couture-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
