@import 'fonts', 'global', 'promo', 'media';

.container {
   width: 1011px;
   margin: 0 auto;
}

.promo {
   height: 689px;
   background: url('../../images/bg/bg-promo.jpg') center center/cover no-repeat;

   &__inner {
      max-width: 520px;
      padding: 0 5px;
   }
   &__title {
      font-family: 'Montserrat-bold';
      font-size: 90px;
      
      color: rgb(19, 14, 39);
      font-weight: bold;
      line-height: 0.889;
      margin-bottom: 47px;

      &--white {
         color: #fff;
      }
   }

   &__text {
      font-size: 20px;
      font-family: "PT Serif";
      color:#fff;
      line-height: 1.4;
   }
   
}


.header {
   padding: 37px 0;
   margin-bottom: 89px;

   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__logo {
      font-family: 'Quite Chocolatey';
      font-size: 89px;
      color: #fff;
      a {
         height: auto;
      }
   }

   &__hamburger {
      display: none;
      background: none;
      border: none;
      font-size: 24px;
      color: #130e27;
   }
}

.nav {
   &__list {
      display: flex;
   }

   &__link {
      padding: 11px 15px;
      border-radius: 5px;
      font-family: 'Montserrat';
      font-size: 18px;
      line-height: 22px;
      color: #fff;
      text-transform: uppercase;
      &:hover {
         background-color: #130e27;
      }
   }
}

// services

.services {
   padding: 47px 0 67px 5px;

   &__title {
      font-size: 50px;
      font-family: "Couture";
      color: #130e27;
      font-weight: bold;
      line-height: 1.6;
      text-align: left;
      margin-bottom: 99px;
      &--orange {
         color: #c62314;
         
      }
      
   }

   &__items {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .item {
      width: 178px;
      text-align: center;
      &__img {
         margin-bottom: 39px;
      }

      &__text {
         font-size: 20px;
         font-family: "PT Serif";
         color: rgb(22, 22, 22);
         line-height: 1.4;
      }
   }
}

// story {
.story {
  border-radius: 5px;
  background-color: #130e27;
  height: 123px;
  padding: 31px 0 24px 0;
  color: #fff;

  &__inner {
   display: flex;
   justify-content: space-between;
  }

  &__text {
   font-size: 20px;
   font-family: "PT Serif";
   color: #fff;
   line-height: 1.4;
   width: 617px;
  }

  &__btn {
   padding: 13px 38px 13px 38px;
   border-radius: 5px;
   background-color: rgb(198, 35, 20);
   color: #fff;
   font-size: 22px;
   font-family: "Montserrat";
   line-height: 1.273;
   text-align: center;
  }
}  

//pricing
.pricing {
   padding: 32px 0;
   background-color: #efefef;

   &__title {
      font-size: 50px;
      font-family: "Montserrat-bold";
      color: #130e27;
      font-weight: bold;
      line-height: 1.6;
      text-align: center;
      margin-bottom: 60px;
   }

   &__inner {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      border-radius: 5px;
      background-color: #fff;
      padding: 35px 0 12px 0;
      text-align: center;
      width: 318px;
      &-title {
         font-size: 22px;
         font-family: "PT Serif";
         color: rgb(22, 22, 22);
         line-height: 1.273;
         margin-bottom: 41px;
      }
      &-price {
         font-size: 60px;
         font-family: "Montserrat-bold";
         color: #c62314;
         font-weight: bold;
         line-height: 1.333;
         text-transform: uppercase;
      }
      &-list {
         margin-bottom: 36px;
      }
      &-item {
         font-size: 20px;
         font-family: "PT Serif";
         color: rgb(22, 22, 22);
         line-height: 1.4;
      }
      &-btn {
         border-radius: 4px;
         background-color: #130e27;
         width: 205px;
         height: 49px;
         text-transform: uppercase;
         font-size: 22px;
         font-family: "Montserrat";
         color: #fff;
         line-height: 1.273;
         border: none;
         &--orange {
            background-color: #c62314;
         }
      }
}
}

//footer 
.footer {
   padding: 50px 0;
   background-color: #130e27;
   color: #fff;
   &__inner {
      display: flex;
      justify-content: space-between;
   }
   &__copyright {
      font-size: 20px;
      font-family: "PT Serif";
      color: #fff;
      line-height: 1.1;
      &--orange {
         color: #c62314;
      }
   }
   &__logo {
      font-size: 60px;
      font-family: 'Quite Chocolatey';
      color: rgb(198, 35, 20);
      line-height: 0.367;
   }

   }

   //media 
   @media (max-width: 320px) {
   .container {
      width: 300px;
   }

   .promo {
      height: 370px;
      &__title {
         font-size: 20px;
      }
      &__text {
         font-size: 14px;
      }
   }
   .header {
      margin-bottom: 22px;
      &__logo {
         font-size: 40px;
      }
      &__hamburger {
         display: block;
         z-index: 1001;
      }
      &__nav {
         display: flex;
         position: fixed;
         top: 0;
         right: -100%;
         width: 80%;
         height: 100vh;
         transition: right .3s;
         z-index: 1000; 
         &__link {
            font-size: 10px;
         }
      }
      .nav__list {

         position: fixed;
         top: 0;
         right: -100%;
         width: 80%;
         height: 100vh;
         background: #c62314;;
         transition: right 0.3s;
         z-index: 1000;
         flex-direction: column;
      }
      .nav__list.active {
         padding: 20px;
         right: 0;
         .nav__link {
            display: block;
            margin-bottom: 20px;
         }
      }
   }
   
   }

   .services {
      padding: 10px 0 20px 0;
      &__title {
         font-size: 30px;
         margin-bottom: 25px;
      }
      &__items {
         flex-direction: column;
      }
      &__item {
         width: 80%;
         height: 200px;
         margin-bottom: 60px;
      }

      .item-img {
         height: 200px;
         margin-bottom: 0;
      }
   }

   .story {
      height: auto;
      padding: 10px 5px;
      &__inner {
         flex-direction: column;
      }
      &__text {
         width: 100%;
         font-size: 13px;
         margin-bottom: 7px;
      }
      &__btn {
         width: 50%;
         font-size: 12px;
      }
   }

   .pricing {
      padding: 10px 0;
      &__title {
         font-size: 30px;
         margin-bottom: 20px;
      }
      &__inner {
         flex-direction: column;
      }
      &__item {
         width: 100%;
         margin-bottom: 10px;
         &-title {
            font-size: 15px;
            margin-bottom: 5px;
         }
         &__list {
            margin-bottom: 20px;
         }
         &-item {
            font-size: 15px;
         }
      }
   }

   .footer {
      &__inner {
         flex-direction: column;
      }
      &__copyright {
         font-size: 11px;
      }
      &__logo {
         order: -1;
         font-size: 90px;
         margin-bottom: 32px;
      }
   }

